<!-- require APlayer -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.css">
<script src="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.js"></script>

<div id="aplayer"></div>
<script>
    const staticDir = {{ .Site.Home.Permalink }}+ 'music/';
    const songs = [
        'DreamIsPossible-Delacey',
        '匆匆那年-王菲',
        '十年-陈奕迅',
        '一生所爱-卢冠廷',
    ];
    let audios = [];
    songs.forEach((item) => {
      	const songInfo = item.split('-');
	      audios.push({
	        	name: songInfo[0],
	        	artist: songInfo[1],
	        	url: staticDir + item + '/song.mp3',
	        	cover: staticDir + item + '/cover.jpg',
	        	lrc: staticDir + item + '/lyric.lrc'
	      });
    })
    const ap = new APlayer({
		    container: document.getElementById('aplayer'),
            lrcType: 3,
		    fixed: true,
		    listMaxHeight: '150px',
        audio: audios
    });

    /**
     * 页面销毁前监听
     */
		window.onbeforeunload = () => {
        // 将播放信息用对象封装，并存入到localStorage中
        const playInfo = {
            index: ap.list.index,
            currentTime: ap.audio.currentTime,
            paused: ap.paused
        };
        localStorage.setItem("playInfo", JSON.stringify(playInfo));
    };

    /**
     * 页面加载后监听
     */
    window.onload = () => {
        // 从localStorage取出播放信息
        const playInfo = JSON.parse(localStorage.getItem("playInfo"));
        if (!playInfo) {
            return;
        }
        // 切换歌曲
        ap.list.switch(playInfo.index);
        // 等待500ms再执行下一步(切换歌曲需要点时间，不能立马调歌曲进度条)
        setTimeout(() => {
            // 调整时长
            ap.seek(playInfo.currentTime);
            // 是否播放
            if (!playInfo.paused) {
                ap.play()
            }
        }, 500);
    };
</script>


